fastapi==0.115.6
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pillow==10.4.0
numpy==2.1.3
opencv-python-headless==4.10.0.84
watchfiles==0.24.0

# OpenVINO Execution Provider build of ONNX Runtime
onnxruntime-openvino
